<div id="<%= dom_id recipe %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= recipe.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Steps:</strong>
    <%= recipe.steps %>
  </p>

</div>
